@use 'vars.scss';

.main {
  font-family: vars.$body-font;

  margin: auto;
  padding: 0.5em;
  max-width: min(80vw, 600px);
}

.otpurl {
  font-family: vars.$mono-font;
  overflow-wrap: anywhere;
}

.error {
  color: red;
}