@use 'vars.scss';

$text-size: 3rem;
$translate-amount: 2rem;

.codesContainer {
  position: relative;
  height: $text-size;
}

%_code {
  font-family: vars.$mono-font;
  font-size: $text-size;
  position: absolute;
  top: 0;
}

.thisCode {
  @extend %_code;

  .switchingOver & {
    color: red;
    animation: slideOutKF 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

.nextCode {
  @extend %_code;
  opacity: 0;

  .switchingOver & {
    animation: slideInKF 2s;
    animation-delay: 2s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
}

@keyframes slideOutKF {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-$translate-amount);
    opacity: 0;
  }
}

@keyframes slideInKF {
  from {
    opacity: 0;
    transform: translateY($translate-amount);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

$lozenge-radius: 1rem;

%_timerLozenge {
  border-radius: $lozenge-radius;
}

.timerOuterLozenge {
  @extend %_timerLozenge;
  border: 3px solid black;
}

.timerInnerLozenge {
  @extend %_timerLozenge;

  height: 1rem;
  background-color: lightsteelblue;

  .switchingOver & {
    background-color: lightcoral;
  }

  .speedyLozengeAnimation & {
    transition-duration: 250ms;
    transition-timing-function: ease-out;
  }

  transition-property: width;
  transition-duration: 500ms;
  transition-timing-function: linear;
}