$body-font: 'Roboto', sans-serif;
$mono-font: 'Roboto Mono', monospace;

$color-background: var(--color-bg);
$color-foreground: var(--color-fg);
$color-accent: var(--color-accent);
$color-lozenge-normal: var(--color-lozenge-normal);
$color-lozenge-warn: var(--color-lozenge-warn);